<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Codenotch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:800,700,400,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="screen" href="css/styles.css">
</head>
<body class="mask">

<div id="loader">
    <img class="icon-loader" src="img/icon.svg" alt="logo codenotch">
</div>

<!-- particles.js container -->

<div id="logo-container">
    <img class="logo" src="img/logo.svg" alt="logo codenotch">
    <img class="claim" src="img/claim.svg" alt="claim codenotch">
</div>



<div id="particles-js"></div>

<div id="text-container">
  <p>
    <strong>Codenotch</strong> transforma a profesionales de cualquier área en programadores de primera categoría bajo el techo de la <strong>Home of Coders</strong>, un lugar de encuentro para desarrolladores y entusiastas de la tecnología.
  </p>
  <p>
    Nuestro <strong>bootcamp</strong> de desarrollo de software es un programa intensivo y presencial para grupos muy reducidos de personas con ganas de aprender, a los cuales guiamos dedicadamente de manera personalizada hacia sus objetivos profesionales. 
  </p>
</div>

<footer>
    <img src="img/icon.svg" alt="icon codenotch">
    <p>hola@codenotch.com</p>
</footer>

<!-- scripts -->
<script src="js/TweenMax.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>

<script>
</script>

</body>
</html>