.home{
    width: 100%;
    /*min-height: 100%;*/
    background: $darkWhite;
    color: $grey;
    @include flexContainer($rowAlign:flex-start,$direction:column);
    .logo-container{
        h1{
          margin-bottom: 2.5vh;
        }
    }
    .container-fluid{
        .row{
            &:first-of-type{
                margin-bottom: 5vh;
                @media (min-width: 768px){
                    margin-bottom: 8vh;
                }
            }
            &:last-of-type{
                margin-bottom: 16vh;
                @media (min-width: 567px){
                    margin-bottom: 22vh;
                }
                @media (min-width: 768px){
                    margin-bottom: 15vh;
                }
                @media (min-width: 992px){
                    margin-bottom: 18vh;
                }
                @media (min-width: 1200px){
                    margin-bottom: 0;
                }
                > div{
                    &:last-of-type{
                        margin-top: 2vh;
                        @media (min-width: 567px){
                            margin-top: 4vh;
                        }
                        @media (min-width: 768px){
                            margin-top: 3vh;
                        }
                        @media (min-width: 992px){
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    .container-img-codenotch{
        margin-bottom: 6vh;
        @media (min-width: 1200px){
            margin-bottom: 0;
        }
    }
    h2{
        margin-bottom: 4vh;
        text-align: center;
        @media (min-width: 1200px){
            margin-bottom: 2vh;
            text-align: left;
        }
    }
    p{
        margin-bottom: 4vh;
        text-align: center;
        @media (min-width: 1200px){
            margin-bottom: 2vh;
            text-align: left;
        }
    }
    .link-codenotch{
        font-size: .9em;
    }
    .list-links{
        text-align: center;
        @media (min-width: 1200px){
            text-align: left;
        }
    }
}