.interior-ficha{
    img{
        width: 114px;
    }
    .container-img-codenotch{
        margin-bottom: 3em;
    }
    .alumnos-links{
        @include flexContainer();
    }
    .container-data{
        margin-bottom: 3em;
    }
    .container-name{
        margin-bottom: 2em;
        h2{
            text-align: center;
        }
    }
}

