.logo-platform{
    margin-top: 10vh;
    margin-bottom: 6vh;
    @media (min-width: 992px){
        margin-top: 12vh;
        margin-bottom: 8vh;
    }
    @media (min-width: 1200px){
        margin-bottom: 12vh;
    }
    @media (min-width: 1440px){
        margin-top: 10vh;
        margin-bottom: 14vh;
    }
    h1{
        a{
            &.unlinked{
                pointer-events: none;
            }
        }
    }
}