.participants{
    padding-bottom: 14vh;
    @media (min-width: 768px){
        padding-bottom: 0;
    }
    .block-sup{
        margin-bottom: 3em;
        img{
            margin: 0 auto;
        }
    }
}


