.participants{
    padding-bottom: 14vh;
    @media (min-width: 768px){
        padding-bottom: 0;
    }
    .block-sup{
        margin-bottom: 3em;
        img{
            margin: 0 auto;
        }
    }
    .container-btns{
        position: fixed;
        z-index: 4;
        right: 10px;
        top: 20px;
        .btn{
            color: $white;
            background: $purple;
        }
    }
    .container-btn-add{
        position: fixed;
        z-index: 4;
        left: 10px;
        bottom: 74px;
        .btn{
            color: $white;
            background: $green;
        }
    }
    .container-btns-edit{
        @include flexContainer();
    }
}


