/* PROGRAMA INDICE */

.programa-indice{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background: $darkWhite;
    border-right: 1px solid $softGrey;
    height: 100% !important;
    overflow: scroll !important;
    @media (min-width: 992px){
        transform: translateX(0);
        width: 350px;
    }
    .logo-container{
        h1{
            width: 100%;
            height: 130px;
            margin: 0 auto;
            cursor: pointer;
            @media (min-width: 567px) and (orientation:landscape){
                width: 70vh;
            }
            @media (min-width: 768px){
                width: 334px;
                margin: 0;
            }
            img{
                max-width: 80%;
            }
        }
    }
}

.indice-container{
    
}

.modulo-cabecera{
    background: $softGrey;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    min-height: 36px;
    @include flexContainer(flex-start);
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
}

.modulo-tema{
    background: transparent;
    border-bottom: 1px solid $softGrey;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 1.5em;
    width: 100%;
    min-height: 36px;
    @include flexContainer(flex-start);
    font-weight: 400;
    font-size: .9em;
    cursor: pointer;
    img{
        margin-right: .8em;
    }
    @include transition(all,.5s,ease-out,0);
    &:hover{
      background: $softPurple;
    } 
}

.modulo-subtema{
    @extend .modulo-tema;
    padding-left: 4.5em;
}