/* FOOTER PLATFORM */ 

#footer-platform{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    border-top: 0.5px solid #C2C2C2;
    padding: 1em 1.5em;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
      font-size: inherit;
      line-height: inherit;
      li{
          list-style: none;
      }
    }
    @media (min-width: 567px){
      display: block;
    }
  }

  .container-btn-session{
    width: 180px;
    margin-bottom: 1vh;
    //@include flexContainer();
    .link-codenotch{
      line-height: 2;
    }
    .link-special-codenotch{
      @include flexContainer();
      line-height: 2;
      img{
        margin-right: .5em;
      }
    }
    @media (min-width: 567px){
      float: left;
      margin-bottom: 0;
    }
  }

  .container-breadcrumbs{
    @media (min-width: 567px){
      float: right;
    }
  }