/* ALUMNO INDICE */

#alumno-indice{
    width: 350px;
    min-height: 100vh;
    background: $darkWhite;
    border-right: 1px solid $softGrey;
    .logo-container{
        h1{
            width: 350px;
            height: 100px;
            @media (min-width: 567px) and (orientation:landscape){
                width: 70vh;
            }
            @media (min-width: 768px){
                width: 350px;
            }
            img{
                max-width: 80%;
            }
        }
    }
}