/* ALUMNO HOME */

#alumno-home{
    width: 100%;
    min-height: 100vh;
    background: $darkWhite;
    color: $grey;
    @include flexContainer($rowAlign:flex-start,$direction:column);
    .logo-container{
        h1{
          margin-bottom: 2.5vh;
        }
    }
    .container-fluid{
        &:first-of-type{
            margin-top: 10vh;
            margin-bottom: 6vh;
            @media (min-width: 992px){
                margin-top: 10vh;
                margin-bottom: 6vh;
            }
            @media (min-width: 1200px){
                margin-bottom: 8vh;
            }
            @media (min-width: 1440px){
                margin-top: 10vh;
                margin-bottom: 14vh;
            }
        }
        &:last-of-type{
            .row{
                &:first-of-type{
                    margin-bottom: 8vh;
                }
            }
        }
    }
    .container-img-codenotch{
        margin-bottom: 6vh;
        @media (min-width: 1200px){
            margin-bottom: 0;
        }
    }
    h2{
        margin-bottom: 4vh;
        text-align: center;
        @media (min-width: 1200px){
            margin-bottom: 2vh;
            text-align: left;
        }
    }
    p{
        margin-bottom: 4vh;
        text-align: center;
        @media (min-width: 1200px){
            margin-bottom: 2vh;
            text-align: left;
        }
    }
    .list-links{
        text-align: center;
        @media (min-width: 1200px){
            text-align: left;
        }
    }
}