#login{
  width: 100%;
  height: 100vh;
  background: $darkWhite;
}

.logo-container{
  h1{
    @include flexContainer();
  }
}

#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid #C2C2C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}