/* LOGIN */

#login{
    width: 100%;
    height: 100vh;
    background: $darkWhite;
    color: $grey;
    @include flexContainer();
  }
  
  .form-container{
    .row{
      &:first-of-type(){
        margin-bottom: 3vh;
        @media (min-width: 768px){
          margin-bottom: 1.5vh;
        }
      }
    }
  }