html, body, h1, h2, h3, h4, h5, h6, span, dt, p, section, figure, div, header, ul, li {
    margin: 0;
    padding: 0;
  
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
  }
  
  li{
    list-style: none;
  }
  
  img{
    display: block;
  }
  
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  
  button{
    background: transparent;
    border: none;
    outline: none;
    &:focus{
      outline: none;
    }
  }
  
  input{
    outline: none;
  }