// colors

$white: #FFFFFF;
$darkWhite: #f2f3f2;
$softGrey: #cdcbcb;
$grey: #9c9b9b;
$darkGrey: #2f2f2f;
$black: #100f12;
$purple: #330099;
$hoverPurple: #4b1ea5;
$softPurple: #e3e0eb;
$red: #ff5252;
$green: #28a745;
$blue: #17a2b8;
$blackTransparent: rgba(0,0,0,.3);
$darkWhiteOverlay: rgba(242,243,242,.8);